<a mat-button
   class="logout-link"
   (click)="logout()"
   color="primary">Logout</a>

<div class="welcome-title">Welcome to post board</div>
<div class="no-results" *ngIf="!notes?.length">There are no posts, add new post</div>

<div class="note-list">
    <app-note-element (action)="openDialog(null)">
      <img class="note-add-icon" src="../../../../../assets/icons/add.svg">
    </app-note-element>

    <app-note-element *ngFor="let note of notes;trackBy: trackByFn"
                      (action)="openDialog(note)"
                      [note]="note">
      <div class="note-date">{{note.date | date: 'long'}}</div>
      <span class="note-content" [title]="note.content">{{note.content}}</span>
    </app-note-element>
</div>
