@mixin center() {
  margin: 0 auto;
  display: table;
}

.welcome-title{
  font-size: 4vw;
  @include center();
}

.no-results {
  @include center();
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logout-link {
  position: absolute;
  right: 0px;
  color: #d2d3db;
  padding: 3px;
  margin: 3px;
  border: 1px solid #d2d3db;
}
