<h2 mat-dialog-title class="modal-title">
  <span *ngIf="isEdit; else elseBlock" [title]="note.authorName">A note from {{note.authorName}}</span>
  <ng-template #elseBlock><span>Post a new note</span></ng-template>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="container" novalidate>
    <form [formGroup]="formGroup"
          (ngSubmit)="onSubmit(formGroup.value)"
          class="form">
      <mat-form-field class="form-element">
        <input matInput
               placeholder="Author name"
               formControlName="authorName">

        <mat-error *ngIf="formGroup.controls['authorName'].errors && formGroup.controls['authorName'].touched">
          {{ formGroup.controls['authorName'] | errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <textarea matInput
                  placeholder="Content"
                  matTextareaAutosize
                  matAutosizeMinRows="2"
                  matAutosizeMaxRows="5"
                  formControlName="content"></textarea>
        <mat-error *ngIf="formGroup.controls['content'].errors && formGroup.controls['content'].touched">
          {{ formGroup.controls['content'] | errorMessage }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <a mat-button
     *ngIf="isEdit"
     (click)="onClick('DELETE')"
     color="warn">Delete</a>

  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button
          mat-raised-button
          mat-primary
          color="primary"
          (click)="onClick((isEdit) ? 'EDIT' : 'ADD')"
          [disabled]="!formGroup.valid">Post</button>
</mat-dialog-actions>
