@import "../../../../../styles/common";

$box-height: 200px;
$box-width: $box-height;

fieldset{
  content-visibility: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: $box-width;
  height: 180px;
  display: table-cell;
  border-color: snow;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 5px 5px #888888;

  legend.note-title {
    min-width: 0;
    max-width: $box-width;
    position: relative;
    @include text-overflow();
  }
}

:host ::ng-deep .note-content {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
  min-width: 0;
  max-width: $box-width;
}

:host ::ng-deep .note-date {
  font-size: 10px;
}

:host ::ng-deep .note-add-icon {
  width: $box-width / 2;
  height: $box-height / 2;
  position: absolute;
  top: 28%;
  left: 28%;
}
